= wrap_layout :application do
  %article
    %h1= current_page.title
    %div.meta
      %time{datetime: "#{current_page.date}"}= current_page.date.strftime('%B %e, %Y')
    = yield
    %h4 Tags
    %p.tags
      - current_page.tags[0..-1-1].each do |tag|
        = link_to(tag, "/portfolio/tags/#{tag}") + ' ::'
      = link_to(current_page.tags[-1], "/portfolio/tags/#{current_page.tags[-1]}")
